force-app/main/default/flows/RTF_MAJ_Visites_sur_Modif_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>

    <!-- VARIABLES -->
    <variables>
        <name>VisitesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Visite_Commerciale__c</objectType>
    </variables>

    <!-- START: Record-Triggered on Event After Save (Update with field-change filters) -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Visites</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StartDateTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DurationInMinutes</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <!-- GET Related Visites -->
    <recordLookups>
        <name>Get_Related_Visites</name>
        <label>Get Related Visites</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Visites_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ID_v_nement_Associ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visite_Commerciale__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- DECISION: Any visites found? -->
    <decisions>
        <name>Check_if_Visites_Found</name>
        <label>Check if Visites Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visite_Trouv_e</name>
            <label>Visite Trouvée</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Visites</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Visites</targetReference>
            </connector>
        </rules>
    </decisions>

    <!-- LOOP over visites -->
    <loops>
        <name>Loop_Through_Visites</name>
        <label>Loop Through Visites</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Visites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Values</targetReference>
        </nextValueConnector>
    </loops>

    <!-- ASSIGN default/sync values from Event -->
    <assignments>
        <name>Assign_New_Values</name>
        <label>Assign New Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Visites.Date_et_Heure_de_la_Visite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Visites.Dur_e_en_minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Visites.Type_Visite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <!-- Build URL as '/' + Id using two assignments on same field to avoid formula dependency -->
        <assignmentItems>
            <assignToReference>Loop_Through_Visites.Lien_v_nement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Visites.Lien_v_nement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <!-- Reset account/contact to null before conditional set -->
        <assignmentItems>
            <assignToReference>Loop_Through_Visites.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$GlobalConstant.Null</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Visites.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$GlobalConstant.Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_Set_What_Who</targetReference>
        </connector>
    </assignments>

    <!-- DECISION: Set What/Who -->
    <decisions>
        <name>Decide_Set_What_Who</name>
        <label>Decide Set What/Who</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection_for_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Set</defaultConnectorLabel>
        <rules>
            <name>Set_Account</name>
            <label>Set Account</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Set_Account</targetReference>
            </connector>
        </rules>
        <rules>
            <name>Set_Contact</name>
            <label>Set Contact</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Set_Contact</targetReference>
            </connector>
        </rules>
    </decisions>

    <!-- ASSIGN Account if WhatId is Account -->
    <assignments>
        <name>Assign_Set_Account</name>
        <label>Assign Set Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Visites.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_Set_What_Who</targetReference>
        </connector>
    </assignments>

    <!-- ASSIGN Contact if WhoId is Contact -->
    <assignments>
        <name>Assign_Set_Contact</name>
        <label>Assign Set Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Visites.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_Set_What_Who</targetReference>
        </connector>
    </assignments>

    <!-- ADD current loop record to collection -->
    <assignments>
        <name>Add_to_Collection_for_Update</name>
        <label>Add to Collection for Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VisitesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Visites</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_All_Visites</targetReference>
        </connector>
    </assignments>

    <!-- UPDATE all visites -->
    <recordUpdates>
        <name>Update_All_Visites</name>
        <label>Update All Visites</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Visites</targetReference>
        </connector>
        <inputReference>VisitesToUpdate</inputReference>
    </recordUpdates>

    <!-- META -->
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <environments>Default</environments>
    <interviewLabel>RTF_MAJ_Visites_sur_Modif_Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF_MAJ_Visites_sur_Modif_Event</label>
    <status>Active</status>
</Flow>
